#coverage是一种用于统计Python代码覆盖率的工具，通过它可以检测测试代码对被测代码的覆盖率如何。可以高亮显示代码中哪些语句未被执行，哪些执行了，方便单测。
#并且，coverage支持分支覆盖率统计，可以生成HTML/XML报告
[run]
#好像是运行的意思
branch = True
#分支为真
include = easytrader/*
#包含目录
omit = tests/*
#忽略目录
[report]
#报告
fail_under = -1 
#不合格=-1
#这个检测代码覆盖率的工具肯定有专门的文档。
#https://coverage.readthedocs.io/en/latest/cmd.html
'''
测试覆盖率得作用：
可以在早期和代码级别发现需求、测试用例和BUG之间的差距。
可以使用测试覆盖率分析来防止BUG的遗漏。
测试覆盖率还有助于进行回归测试、测试用例优先级划分、测试套件扩展和测试套件颗粒化。
这个功能以后再深入

'''
